.app-home {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .home-banner {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .list-product {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h4{
            font-size: 18px;
        }
        .product-items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            @include min-lg {
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
            }

            @include min-xl {
                grid-template-columns: repeat(4, 1fr);
                gap: 32px;
            }
        }

    }
}